<launch>
	<arg name="gui" default="False" />
	<param name="robot_description" command="$(find xacro)/xacro.py '$(find al_icub)/defs/icub.urdf.xacro'" />
	<param name="use_gui" value="$(arg gui)"/>
	<!--node name="joint_state_publisher" pkg="al_icub" type="icub_js_pub" output="screen">
	</node-->
	<node name="icub_state_publisher" pkg="robot_state_publisher" type="state_publisher" >
		<remap from="joint_states" to="icub_joint_states" />
		<!--remap from="robot_description" to="/icub_description" /-->
	</node>
</launch>
